body{
    margin: 0 auto;
    max-width: 1800px;
}
.header{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    margin-bottom: 5px;
}
img{
    height: 100%;
    width: 100%;
    
}
.row{
    height: 400px;
    margin-bottom: 5px;
}
.second-row{
    display: flex;
    gap: 5px;
}
.second-row > div{
    flex: 1;
}
.second-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.second-row-third-container div{
    height: calc(50% - 5px/2);
}
.third-row{
    display: flex;
    gap: 5px;
}
.third-roe-second-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.third-row>div{
    flex: 1;
}