body{
    margin: 0 auto;
    max-width: 1800px;
}
.header{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    margin-bottom: 5px;
}
img{
    height: 100%;
    width: 100%;
    
}
.row{
    height: 400px;
    margin-bottom: 5px;
}
.second-row{
    display: flex;
    gap: 5px;
}
.second-row > div{
    flex: 1;
}
.second-row-third-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.second-row-third-container img{
    height: 200px;
}